.about {

	.wrapper {

		width: 60%;
		margin: 4rem auto;
		padding: 1rem 1.5rem;
		position: relative;

		box-shadow: 0px 0px 10px $shadow-color;

		line-height: 1.5rem;

		.label {
			font-size: 1.2rem;
			padding: 1rem 0rem;

			font-family: $Lobster;
			color: $peter-river;
		}

		p {
			padding: .95rem 0rem;
			font-family: $PT_sans;
			color: $gray-1;
		}

		.developers {

			margin-top: 2rem;

			.row {

				.profile {

					display: grid;
					grid-template-columns: 1fr 3fr;

					.img-container {

						text-align: center;
						padding-top: 2rem;

						img {
							border-radius: 50%;
						}

						.contact-links {
							i {
								color: $silver;
							}

							.fa-github-square {
								&:hover {
									color: $gray-1;
								}
							}

							.fa-linkedin-square {
								&:hover {
									color: $blue4;
								}
							}
						}
					}

				}

			}

			.credits {

				margin-top: 2rem;

				a {
					background-color: $gray-2;
					padding: .15rem .60rem;
					border-radius: 4px;
				}
			}
		}
	}
}
