.blue {background-color: $peter-river;}
.red {background-color: $red3;}
.green {background-color: $green2;}
.chartreuse{background-color: $green3;}
.blueviolet{background-color: $blue5;}
.lightseagreen{background-color: $green4;}
.indigo{background-color: $indigo;}
.darkred{background-color: $red4;}
