@import url("https://fonts.googleapis.com/css?family=Mukta+Malar|PT+Sans|Raleway|Titillium+Web|Ubuntu|Abel|Lobster|Rambla");

/**
 * Fonts
 *
 */

$Mukta_Malar: "Mukta Malar";
$PT_sans: "PT Sans";
$Raleway: "Raleway";
$Titillium_web: "Titillium Web";
$Ubuntu: "Ubuntu";
$Lobster: "Lobster";
$Rambla: "Rambla";

/**
 * Colors
 *
 */

$midnigh-blue: #2c3e50;

$gray-1: #676767;
$gray-2: #64666D;
$gray-3: #C1C1C1;

$shadow-color: #888888;
$white: #FFFFFF;
$silver: #C3C3C3;

$peter-river: #3498db;

$blue: #2980b9;
$blue2: #2980b9;
$blue3: #7872DB;
$blue4: #0077B5;
$blue5: #3F51B5;

$orange: #e67e22;
$green: #2ecc71;
$green2: #27ae60;
$green3: #77cc00;
$green4: #20B2AA;

$red: #EF551F;
$red2: #B62D2A;
$red3: #e74c3c;
$red4: #a2000d;

$indigo: #27005e;

// colors.php

$col_blue_1: #39a7f0;
$col_blue_2: #3eb6ff;
$col_blue_3: #43c5ff;
$col_blue_4: #48d4ff;
$col_blue_5: #4ee4ff;
$col_blue_6: #53f3ff;
$col_blue_7: #58ffff;
$col_blue_8: #5dffff;
$col_blue_9: #62ffff;
$col_blue_10: #68ffff;

$col_red_1: #fe5342;
$col_red_2: #ff5b48;
$col_red_3: #ff624e;
$col_red_4: #ff6a54;
$col_red_5: #ff725a;
$col_red_6: #ff7960;
$col_red_7: #ff8166;
$col_red_8: #ff886c;
$col_red_9: #ff9072;
$col_red_10: #ff9878;

$col_green_1: #2abf69;
$col_green_2: #2ed073;
$col_green_3: #32e27c;
$col_green_4: #36f386;
$col_green_5: #3aff90;
$col_green_6: #3eff99;
$col_green_7: #42ffa3;
$col_green_8: #46ffac;
$col_green_9: #4affb6;
$col_green_10: #4effc0;

$col_chartreuse_1: #82e000;
$col_chartreuse_2: #8ef400;
$col_chartreuse_3: #9aff00;
$col_chartreuse_4: #a6ff00;
$col_chartreuse_5: #b2ff00;
$col_chartreuse_6: #beff00;
$col_chartreuse_7: #caff00;
$col_chartreuse_8: #d6ff00;
$col_chartreuse_9: #e2ff00;
$col_chartreuse_10: #eeff00;


$col_blueViolate_1: #4559c7;
$col_blueViolate_2: #4b61d9;
$col_blueViolate_3: #5169eb;
$col_blueViolate_4: #5871fd;
$col_blueViolate_5: #5e79ff;
$col_blueViolate_6: #6481ff;
$col_blueViolate_7: #6b89ff;
$col_blueViolate_8: #7191ff;
$col_blueViolate_9: #7799ff;
$col_blueViolate_10: #7ea2ff;


$col_lightgreen_1: #23c3bb;
$col_lightgreen_2: #26d5cc;
$col_lightgreen_3: #29e7dd;
$col_lightgreen_4: #2cf9ee;
$col_lightgreen_5: #30ffff;
$col_lightgreen_6: #33ffff;
$col_lightgreen_7: #36ffff;
$col_lightgreen_8: #39ffff;
$col_lightgreen_9: #3cffff;
$col_lightgreen_10: #40ffff;





$col_indigo_1: #2a0067;
$col_indigo_2: #2e0070;
$col_indigo_3: #32007a;
$col_indigo_4: #360083;
$col_indigo_5: #3a008d;
$col_indigo_6: #3e0096;
$col_indigo_7: #42009f;
$col_indigo_8: #4600a9;
$col_indigo_9: #4a00b2;
$col_indigo_10: #4e00bc;

$col_darkred_1: #b2000e;
$col_darkred_2: #c2000f;
$col_darkred_3: #d20010;
$col_darkred_4: #e20012;
$col_darkred_5: #f30013;
$col_darkred_6: #ff0014;
$col_darkred_7: #ff0016;
$col_darkred_8: #ff0017;
$col_darkred_9: #ff0018;
$col_darkred_10: #ff001a;