@import url("https://fonts.googleapis.com/css?family=Mukta+Malar|PT+Sans|Raleway|Titillium+Web|Ubuntu|Abel");

/**
 * Fonts
 *
 */

$Mukta_Malar: "Mukta Malar";
$PT_sans: "PT Sans";
$Raleway: "Raleway";
$Titillium_web: "Titillium Web";
$Ubuntu: "Ubuntu";

/**
 * Colors
 *
 */

$midnigh-blue: #2c3e50;
$peter-river: #3498db;
$shadow-color: #888;
$blue: #2980b9;
$white: #FFFFFF;
$orange: #e67e22;
$blue2: #2980b9;
$green: #2ecc71;
$silver: #C3C3C3;
