@import url("https://fonts.googleapis.com/css?family=Mukta+Malar|PT+Sans|Raleway|Titillium+Web|Ubuntu|Abel|Lobster|Rambla");

/**
 * Fonts
 *
 */

$Mukta_Malar: "Mukta Malar";
$PT_sans: "PT Sans";
$Raleway: "Raleway";
$Titillium_web: "Titillium Web";
$Ubuntu: "Ubuntu";
$Lobster: "Lobster";
$Rambla: "Rambla";

/**
 * Colors
 *
 */

$midnigh-blue: #2c3e50;
$gray-1: #676767;
$gray-2: #64666D;

$shadow-color: #888888;
$white: #FFFFFF;
$silver: #C3C3C3;

$peter-river: #3498db;
$blue: #2980b9;
$blue2: #2980b9;
$blue3: #7872DB;
$blue4: #0077B5;

$orange: #e67e22;
$green: #2ecc71;
$red: #EF551F;
$red2: #B62D2A;
