@import url("https://fonts.googleapis.com/css?family=Mukta+Malar|PT+Sans|Raleway|Titillium+Web|Ubuntu|Abel|Lobster|Rambla");

/**
 * Fonts
 *
 */

$Mukta_Malar: "Mukta Malar";
$PT_sans: "PT Sans";
$Raleway: "Raleway";
$Titillium_web: "Titillium Web";
$Ubuntu: "Ubuntu";
$Lobster: "Lobster";
$Rambla: "Rambla";

/**
 * Colors
 *
 */

$midnigh-blue: #2c3e50;

$gray-1: #676767;
$gray-2: #64666D;
$gray-3: #C1C1C1;

$shadow-color: #888888;
$white: #FFFFFF;
$silver: #C3C3C3;

$peter-river: #3498db;

$blue: #2980b9;
$blue2: #2980b9;
$blue3: #7872DB;
$blue4: #0077B5;
$blue5: #3F51B5;

$orange: #e67e22;
$green: #2ecc71;
$green2: #27ae60;
$green3: #77cc00;
$green4: #20B2AA;

$red: #EF551F;
$red2: #B62D2A;
$red3: #e74c3c;
$red4: #a2000d;

$indigo: #27005e;

// colors.php


$col_blue_10: #a8d3f0;
$col_blue_9: #93c8ec;
$col_blue_8: #7dbde8;
$col_blue_7: #67b2e4;
$col_blue_6: #52a7e0;
$col_blue_5: #3c9cdd;
$col_blue_4: #3498db;
$col_blue_3: #2691d9;
$col_blue_2: #2283c3;
$col_blue_1: #1f74ad;


$col_red_10: #f9d6d2;
$col_red_9: #f7c1bb;
$col_red_8: #f4aca4;
$col_red_7: #f1978e;
$col_red_6: #ee8377;
$col_red_5: #eb6e60;
$col_red_4: #e95949;
$col_red_3: #e74c3c;
$col_red_2: #e64533;
$col_red_1: #e3301c;

$col_green_10: #acecc7;
$col_green_9: #97e7b9;
$col_green_8: #82e3aa;
$col_green_7: #6ede9c;
$col_green_6: #59d98e;
$col_green_5: #44d580;
$col_green_4: #2fd072;
$col_green_3: #2abb67;
$col_green_2: #26a65b;
$col_green_1: #219150;


$col_gray_10: #d4d9de;
$col_gray_9: #c5ccd3;
$col_gray_8: #b7bfc8;
$col_gray_7: #a9b3bc;
$col_gray_6: #9aa6b1;
$col_gray_5: #8c99a6;
$col_gray_4: #7d8c9b;
$col_gray_3: #6f8090;
$col_gray_2: #647382;
$col_gray_1: #596673;



$col_cyan_10: #99e6ff;
$col_cyan_9: #80dfff;
$col_cyan_8: #66d9ff;
$col_cyan_7: #4dd2ff;
$col_cyan_6: #33ccff;
$col_cyan_5: #1ac6ff;
$col_cyan_4: #00bfff;
$col_cyan_3: #00ace6;
$col_cyan_2: #0099cc;
$col_cyan_1: #0086b3;


$col_teal_10: #4dff88;
$col_teal_9: #33ff77;
$col_teal_8: #1aff66;
$col_teal_7: #00ff55;
$col_teal_6: #00e64d;
$col_teal_5: #00cc44;
$col_teal_4: #00b33c;
$col_teal_3: #009933;
$col_teal_2: #00802b;
$col_teal_1: #006622;


$col_indigo_10: #d966ff;
$col_indigo_9: #d24dff;
$col_indigo_8: #cc33ff;
$col_indigo_7: #c61aff;
$col_indigo_6: #bf00ff;
$col_indigo_5: #9900cc;
$col_indigo_4: #8600b3;
$col_indigo_3: #730099;
$col_indigo_2: #600080;
$col_indigo_1: #4d0066;



$col_darkred_10: #ff9980;
$col_darkred_9: #ff8566;
$col_darkred_8: #ff704d;
$col_darkred_7: #ff5c33;
$col_darkred_6: #ff471a;
$col_darkred_5: #ff3300;
$col_darkred_4: #e62e00;
$col_darkred_3: #cc2900;
$col_darkred_2: #b32400;
$col_darkred_1: #991f00;

